.error {
  margin-top: 300px;
  text-align: center;
  span {
    
    font-size: 25px;
    padding: 60px;
    border: 1px solid #000;
    border-radius: 20px;
    background: rgb(209, 106, 106);
    color: #fff;
    font-weight: bold;
  }
}
